.deviceList {
  list-style: none;
}

.device {
  display: flex;
  justify-content: space-between;
}
.device span {
  margin-right: 1rem;
}

.deviceInfo {
  display: flex;
}

.deviceControls {
  flex-grow: 0;
}
